body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
    /* background-color: rgba(255, 255, 255, 0.9); */
    position: absolute; 
    top: 0;
    bottom: 0;
    background-position: center;
    right: 0;
    left: 0;
    margin: 0;
}
#fullscreen {
    z-index: -999;
    margin-left: auto;
    margin-right: auto;
    width: 49%;
    position: fixed;
    right: 25%;
    bottom: 0;
}
#avatar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    margin-top: 20px;
    /* margin-bottom: 10px; */
}
#space {
    margin-top: 20%;
    margin-bottom: 20px;
}
#lane {
    background-color: rgba(255, 255, 255, 1);
    height: auto;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10px;
}
#pics {
    /* background-color: rgba(0, 0, 0, 0.1); */
    height: 400px;
    width: 70%;
    /* width: 50%; */
    margin-left: 15%;
    margin-right: 15%;
    /* border: 2px solid rgb(103, 231, 107); */
    /* margin-top: 10%;
    margin-bottom: 10px; */
}
h1 {
    color: rgb(0, 255, 21);
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 4em;
    font-family: 'Open Sans';
    margin: -10px 0;
}
h2 {
    color: #bcbcbc;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1em;
    font-family: 'Open Sans';
    margin: -10px 0;
}

h3 {
    color: white;
    padding-bottom: 20px;
    font-weight: thin;
}
.content {
	top: 0;
	height:500px;
	width:100%;
    text-align: center;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 255);
    color: rgb(141, 141, 141);
    margin: 8px;
    background-color: rgb(211, 210, 210);
    display: inline-block;
    list-style: none;
    width: 65px;
    height: 65px;
}
li:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}
a {
    color: white;
    padding: 15px;
    text-decoration: none;
}
.description {
    display: none;
}

@media (max-width: 450px) {
    ul {
        text-align: center;
    }
    li {
        border-radius: 0%;
        border: none;
        color: white;
        margin: 8px;
        display: block;
        list-style: none;
        margin: 10px 0px;
        text-align: center;
        height: auto;
        width: auto;
    }
    li:hover {
        background-color: none;
        transition: none;
    }
    a {
        text-align: justify;
        border: 2px solid white;
        border-radius: 5px;
        color: rgb(184, 184, 184);
        padding: 15px;
        padding-left: 30px;
        width: 70%;
    }
    a:hover {
        -webkit-transition: 500ms;
        -moz-transition: 500ms;
        transition: 500ms;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        text-decoration: none;
    }
    .description {
        display: inline-block;
        color: white;
        font-family: Arial;
        margin-left: 40px;
    }

}
.row {
    /* border: 1px solid rgb(255, 0, 0); */
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 2px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    /* border: 1px solid rgb(47, 0, 255); */
    -ms-flex: 24%; /* IE10 */
    flex: 24%;
    max-width: 24%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 300px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }